.projects{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    margin-bottom: 100px;
    height: 200vh;
    
}
.list-Projects{
    display: flex;
    flex-direction: column;
}