.hero{

.text-hero1{
    margin: 0px 0px 30px 4px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
    font-weight: 400;
}

.text-hero2 h2{
    margin: 0px;
    font-family: var(--font-sans);
    font-size: clamp(40px, 8vw, 80px);
 
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
    
}

.text-hero3 h3{
    margin: 0px;
    font-family: var(--font-sans);
    font-size: clamp(40px, 8vw, 75px);
 
    font-weight: 600;
    color: var(--slate);
    line-height: 1.1;
}

.text-hero4 p {
    margin: 20px 0px 0px;
    max-width: 540px;
    color: var(--slate);
    font-family: var(--font-sans);
    line-height: 1.5;
   
}



}