.experience{

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // padding: 0 50px;
    // align-items: center;
}

.list-btn{



    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    transition: var(--transition);
    flex-basis: 0;
  button{

    border: none;

        text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
 
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    height: var(--tab-height);
    padding: 0px 20px 2px;
    border-left: 2px solid var(--lightest-navy);
    background-color: transparent;
    color: var(--slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    transition: all .2s cubic-bezier(0.645,0.045,0.355,1);
    visibility: visible;
    opacity: 1;
    height: 100%;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }


  button.active{
    border-left: 3px solid var(--green);
    color: var(--green);

  }

  button:hover{
    background-color: hsla(120, 4%, 62%, 0.2);
    color: var(--green);
 
 

  }
}


.contanet-experience{
 
    width: 100%;
    flex-basis: 70%;
}

.list-experience{
    display: flex;
    justify-content: center;
padding-top: 40px;
    .contenct-item{
        color: white;
    
       display: none;
h3{
    font-family: var(--font-sans);
    // font-size: var(--fz-xxl);
    font-weight: 500;
    line-height: 1.3;
    transition: var(  --transition);
}
      
    }
    .visible{
        color: white !important;
        display: block;
      
      
    }


    .compamy{
        color: var(--green);
    }
    .range {
        margin-bottom: 25px;
        color: var(--light-slate);
        font-family: var(--font-mono);
        font-size: var(--fz-xs);
    }
    ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        color: var(--light-slate);
        font-family: var(--font-sans);
        font-size: var(--fz-xs);
        width: 100%;
        gap: 10px;
        display: flex;
        line-height: 1.3;
        flex-direction: column;
    }
     ul li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        // font-size: var(--fz-sm);
        font-size: clamp(5px, 8vw, 15px);
    }
     ul li::before {
        content: "▹";
        position: absolute;
        left: 0px;
        color: var(--green);
    }
}



@media (max-width: 575.98px) { 
    .list-btn button {
        border: none;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: var(--tab-height);
        padding: 0px 20px 2px;
        border-bottom: 2px solid var(--lightest-navy);
        background-color: transparent;
        color: var(--slate);
        font-family: var(--font-mono);
        font-size: var(--fz-xs);
        text-align: left;
        white-space: nowrap;
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        visibility: visible;
        opacity: 1;
        height: 100%;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    }
    
    
    .list-btn button.active {
        border-left: none;
        border-bottom: 3px solid var(--green);
        color: var(--green);

    }
    
    
    
    .list-btn {
        flex-direction: row; 
        overflow-x: scroll ;
        flex-basis: 100%;
        width: 100%;
    }
    
    
    .list-experience {
        flex-direction: column;
        gap: 50px;
    }

}